
* {
  font-family: ABeeZee;
  min-width: 30%;
}



body {
background-image: url("yes.png");
background-size:;
}

p {
  color:black;
  font-size: 16px;
  text-align: left;
  opacity: 90%;
}

#header {
  width: 90%;
  display: inline-block;
  border: 2px solid gray;
  margin: 20px auto;
  background-color: white;
  opacity: 0.75;
  position: fixed;
  left: 3%;
  top: -10px;
  text-align: center;
  min-width: 1000px;
  padding: 30px;
  z-index: 10;
}

#header a:hover {
  color: white;
  background-color: black;
}

#chickens {
  text-align: center;
  font-size: 100px;

}

#header a {
  padding: 30px 55px;
  font-size: 20px;
  text-decoration: none;
  color: black;

}

.title {
color:black;
}

.subtitle {
  text-align: center;
  opacity: 0.75;
  background-color: white;
  width: 375px;
  margin: 50px auto;
  font-size: 35px;
}

.content {
  background-color: rgba(255,255,255,0.75);
  padding: 20px;
  position: relative;
  margin-top: 60px;
  left: 1%;
  width: 95%;

}

#middlecontent {
  opacity: 0.75;
}


.content p {
  font-size: 20px;
  text-indent: 30px;
  line-height: 1.6;
}

#content2 {
  height: 800px;
}

#anthony {
  display: inline-block;
  width: 400px;
  margin-right: 40px;
}

#samantha {
  display: inline-block;
  width: 400px;
  margin-left: 40px;
}

#images {
  width: 970px;
  min-width: 950px;
  margin: 30px auto;
  position: relative;
  left: 35px;
}

#a {
  display: inline-block;
  width: 500px;
  float: left;
}

#b {
  display: inline-block;
  width: 500px;
  float: right;
  text-align: right;
}



div #sortoftitle {
  text-align: center;
}

table{
  width: 90%;
  border: 2px solid black;
  margin: 30px auto;
  padding: 30px;
}

td {
  padding: 20px;
  border-bottom: 1px solid black;
}

tr {
  border: 1px solid black;
}

td img {
  margin: 40px auto;
}

#map {
  width: 900px;
  min-width: 900px;
  height: 505px;
  margin: 0 auto;
  border: 2px solid black;
  border-radius: 1px;

}

#clothingintro p {
  text-align: center;
}
